/* ==========================================================================
 * Mixins
 * ========================================================================== */

@define-mixin ir {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: transparent;
  font-size: 0;
}
