/* ==========================================================================
 * Hero
 * ========================================================================== */

.hero {
  display: flex;
  padding-bottom: 2vr;
  background: var(--pink);

  @media screen and (min-width: 768px) {
    height: 100vh;
    min-height: 600px;
  }

  > .container {
    display: flex;
    align-items: center;
    flex: 1;
  }

  h1 {
    padding: 2vr 0;
    font-size: 12vmin;
    line-height: 1;

    /*@media screen and (min-height: 600px) and (min-width: 768px) {
      font-size: 12vmin;
    }*/

    @media screen and (min-width: 768px) {
      width: 60%;
    }
  }
}
